@use "project-elements";
:root {
  --bg-color1: #ffffff;
  --bg-color2: #2e2f42;
  --bg-color3: #f4f4fd;
  --text-color1: #2e2f42;
  --text-color2: #434455;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --hover-color2: #31d0aa;
  --logo-text: Raleway;
  --text-size: 12px;
  --text-height: 1.33;
  --text-spacing: 0.04em;
  --title1-weight: 700;
  --title1-size: 36px;
  --title1-height: 1.11;
  --title2-weight: 500;
  --title2-size: 20px;
  --title2-height: 1.2;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: var(--text-color1);
  background-color: var(--bg-color1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

button {
  cursor: pointer;
  border: none;
  padding: 0px;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0px;
  padding: 0px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  border: 0px;
  clip: rect(0 0 0 0);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color1);
  font-family: var(--logo-text);
  text-decoration: none;
}
.logo .logo_accent {
  color: var(--accent-color);
}

.footer_logo {
  color: #f4f4fd;
}

.portfolio.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filters_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  margin-bottom: 48px;
}

.filters_button {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: var(--title2-weight);
  color: var(--accent-color);
  background-color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters_button:hover, .filters_button:focus {
  border: 1px solid var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .portfolio.section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filters_list {
    justify-content: center;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio.section {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .filters_list {
    margin-bottom: 72px;
  }
}
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--bg-color2);
}

.footer_info-box {
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  width: 264px;
}

.footer_logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer_paragraf {
  color: #e7e9fc;
}

.footer_social-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: var(--title2-weight);
  font-size: inherit;
  color: #ffffff;
}

.footer_icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer_icon-list .icon {
  fill: #ffffff;
}

.footer_icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #434455;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_icon-box:hover, .footer_icon-box:focus {
  background-color: var(--hover-color2);
}

.footer_sobscribe-title {
  margin-bottom: 16px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.04em;
  font-weight: var(--title2-weight);
  font-size: inherit;
}

.footer_sobscribe-input {
  margin-bottom: 16px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_sobscribe-input:focus {
  border: 1px solid var(--accent-color);
}
.footer_sobscribe-input::placeholder {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer_sobscribe-button {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 24px;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_sobscribe-button:hover, .footer_sobscribe-button:focus {
  background-color: var(--hover-color);
}

.footer_sobscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer_info-box {
    margin-right: 24px;
    margin-left: 0px;
  }

  .footer_logo {
    text-align: start;
  }

  .footer_social-title {
    text-align: start;
  }

  .footer_sobscribe-title {
    text-align: start;
  }

  .footer_sobscribe_sing-form {
    display: flex;
  }

  .footer_sobscribe-input {
    margin-right: 24px;
    margin-bottom: 0px;
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer .footer_info-box {
    margin-bottom: 0px;
  }
  .footer .footer_icon-box {
    margin-bottom: 0px;
  }
}
.header {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header_nav-list {
    display: none;
  }

  .header_contacts {
    display: none;
  }

  .mobile-menu_open-button {
    margin-left: auto;
    background-color: var(--bg-color1);
    width: 40px;
    height: 40px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu_open-button:hover, .mobile-menu_open-button:focus {
    fill: var(--hover-color);
  }
}
@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 120px;
  }

  .header_nav {
    display: flex;
    align-items: center;
  }

  .header_nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: var(--title2-weight);
  }

  .header_nav-link {
    position: relative;
    color: var(--text-color1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header_nav-link:hover, .header_nav-link:focus {
    color: var(--hover-color);
  }
  .header_nav-link.activ {
    color: var(--hover-color);
  }
  .header_nav-link.activ::after {
    position: absolute;
    display: flex;
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--hover-color);
    border-radius: 4px;
    transform: translate(0, 18px);
  }

  .header_contacts {
    margin-left: auto;
  }

  .header_contact-link {
    color: var(--text-color2);
    font-size: var(--text-size);
    line-height: var(--text-height);
    letter-spacing: var(--text-spacing);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header_contact-link:hover, .header_contact-link:focus {
    color: var(--hover-color);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 76px;
  }

  .header_nav-link.activ::after {
    transform: translate(0, 21px);
  }

  .header_contacts-list {
    gap: 40px;
    display: flex;
  }

  .header_contact-link {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
}
.hiro {
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 428px;
  background-color: var(--bg-color2);
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/hirobg.jpg);
  background-position: center;
  background-size: 428px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hiro {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/hirobg@2x.jpg);
  }
}
.hiro_title {
  margin-bottom: 72px;
  font-size: var(--title1-size);
  line-height: var(--title1-height);
  text-align: center;
  color: #ffffff;
}

.hiro_button {
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: var(--title2-weight);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hiro_button:hover, .hiro_button:focus {
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .hiro {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet/hirobg.jpg);
    background-size: 768px;
  }

  .hiro_title {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hiro {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablet/hirobg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hiro {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop/hirobg.jpg);
    background-size: 1440px;
  }

  .hiro_title {
    margin-bottom: 48px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hiro {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop/hirobg@2x.jpg);
  }
}
.our-team {
  background-color: var(--bg-color3);
}

.our-team_title {
  margin-bottom: 72px;
  font-size: var(--title1-size);
  line-height: var(--title1-height);
  text-align: center;
  text-transform: capitalize;
}

.our-team_point {
  margin-right: auto;
  margin-left: auto;
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.our-team_point:not(:last-child) {
  margin-bottom: 72px;
}

.our-team_text-box {
  padding: 32px 16px;
}

.our-team_list-title {
  margin-bottom: 8px;
  text-align: center;
  font-weight: var(--title2-weight);
  font-size: var(--title2-size);
  line-height: var(--title2-height);
  letter-spacing: 0.02em;
}

.our-team_list-paragraf {
  text-align: center;
}

.our-team_icon-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.our-team_icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team_icon-box:hover, .our-team_icon-box:focus {
  background-color: var(--hover-color);
}
.our-team_icon-box .icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .our-team_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .our-team_point {
    margin-right: 0px;
    margin-left: 0px;
  }

  .our-team_point:not(:last-child) {
    margin-bottom: 0px;
  }
}
.projects_list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.projects_list li:hover .projects_text-box,
.projects_list li:focus .projects_text-box {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border: 0.5px solid #e7e9fc;
  border-top: 0px;
}

.projects_link {
  color: var(--text-color1);
}
.projects_link:hover .projects_overlay, .projects_link:focus .projects_overlay {
  opacity: 1;
  transform: translate(0, 0);
}

.projects_overlay-box {
  position: relative;
  overflow: hidden;
}

.projects_overlay {
  position: absolute;
  overflow: auto;
  padding: 40px 32px;
  transform: translate(0, 100%);
  opacity: 0;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  color: #f4f4fd;
  background-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects_text-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects_title {
  margin-bottom: 8px;
  font-weight: var(--title2-weight);
  font-size: var(--title2-size);
  line-height: var(--title2-height);
}

.projects_paragrad {
  color: var(--text-color2);
}

@media screen and (min-width: 768px) {
  .projects_list {
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .projects_list {
    gap: 48px 24px;
  }
}
.quality_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quality_list-point {
  width: 100%;
}

.quality_list-point:not(:last-child) {
  margin-bottom: 72px;
}

.quality_list-title {
  margin-bottom: 8px;
  text-align: center;
  font-weight: var(--title1-weight);
  font-size: var(--title1-size);
  line-height: var(--title1-height);
}

.quality_list-paragraf {
  color: var(--text-color2);
}

@media screen and (max-width: 1200px) {
  .quality_icon-box {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .quality_list {
    gap: 72px 24px;
  }

  .quality_list-point {
    width: 356px;
  }

  .quality_list-point:not(:last-child) {
    margin-bottom: 0px;
  }

  .quality_list-title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .quality.section {
    padding-bottom: 0px;
  }

  .quality_list-point {
    width: 264px;
  }

  .quality_list-title {
    text-align: start;
    font-weight: var(--title2-weight);
    font-size: var(--title2-size);
    line-height: var(--title2-height);
  }

  .quality_icon-box {
    margin-bottom: 8px;
    display: flex;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color3);
    border-radius: 4px;
  }
}
.what-we-do_list {
  display: flex;
  justify-content: space-between;
}

.what-we-do_title {
  margin-bottom: 72px;
  font-size: var(--title1-size);
  line-height: var(--title1-height);
  text-align: center;
  text-transform: capitalize;
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
.customers_title {
  margin-bottom: 72px;
  text-align: center;
  font-size: var(--title1-size);
  line-height: var(--title1-height);
}

.customers_icon-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers_icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers_icon-box .icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers_icon-box:hover, .customers_icon-box:focus {
  border: 1px solid var(--hover-color);
}
.customers_icon-box:hover .icon, .customers_icon-box:focus .icon {
  fill: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .customers_icon-list {
    gap: 72px 24px;
  }

  .customers_icon-box {
    width: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .customers_icon-list {
    justify-content: space-between;
    gap: 0px;
  }
}
.modal_backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  max-width: 392px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal_close-icon {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close-icon:hover, .modal_close-icon:focus {
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
  fill: #ffffff;
}

.modal_title {
  margin-bottom: 16px;
  font-weight: var(--title2-weight);
  font-size: inherit;
  text-align: center;
}

.modal_form {
  display: flex;
  flex-direction: column;
}

.modal_form-section {
  margin-bottom: 8px;
}

.modal_input-name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal_input-box {
  position: relative;
}

@media screen and (max-height: 524px) {
  .modal_input {
    height: 30px;
  }
}
@media screen and (min-height: 525px) {
  .modal_input {
    height: 40px;
  }
}
.modal_input {
  padding-left: 38px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_input:focus {
  border: 1px solid var(--accent-color);
}
.modal_input:focus + .modal_input-icon {
  fill: var(--accent-color);
}

.modal_input-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_massage-section {
  margin-bottom: 16px;
}

@media screen and (max-height: 599px) {
  .modal_message {
    height: 40px;
  }
}
@media screen and (min-height: 600px) {
  .modal_message {
    height: 120px;
  }
}
.modal_message {
  display: block;
  padding: 8px 16px;
  width: 100%;
  resize: none;
  outline: none;
  font-size: var(--text-size);
  line-height: var(--text-height);
  letter-spacing: var(--text-spacing);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_message:focus {
  border: 1px solid var(--accent-color);
}
.modal_message::placeholder {
  font-size: var(--text-size);
  line-height: var(--text-height);
  letter-spacing: var(--text-spacing);
  color: rgba(117, 117, 117, 0.5);
}

.modal_consent-text {
  display: flex;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: var(--text-size);
  line-height: var(--text-height);
  letter-spacing: var(--text-spacing);
  color: #757575;
}
.modal_consent-text::before {
  display: block;
  margin-right: 8px;
  content: "";
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}
.modal_consent-text a {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal_consent-text:hover.modal_consent-text::before,
.modal_consent-text:focus.modal_consent-text::before {
  border: 1.25px solid var(--hover-color);
}

.modal_consent-check:checked + .modal_consent-text::before {
  background-image: url(../images/click.svg);
  border: none;
}

.modal_submit-button {
  padding: 16px 64px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: var(--title2-weight);
  letter-spacing: var(--text-spacing);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_submit-button:hover, .modal_submit-button:focus {
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .modal {
    padding-right: 24px;
    padding-left: 24px;
    width: 408px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-manu {
    position: fixed;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color1);
    top: 0;
    left: 0;
    z-index: 100;
    transition: opacity 250ms linear, visibility 250ms linear;
  }
  .mobile-manu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-manu_close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-manu_close-button:hover, .mobile-manu_close-button:focus {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-color);
    fill: #ffffff;
  }

  .mobile-manu_nav {
    margin-bottom: 284px;
    font-weight: var(--title1-weight);
    font-size: var(--title1-size);
    line-height: var(--title1-height);
  }

  .mobile-manu_nav-point:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-manu_nav-link {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-manu_nav-link:hover, .mobile-manu_nav-link:focus {
    color: var(--accent-color);
  }
  .mobile-manu_nav-link.activ {
    color: var(--hover-color);
  }

  .mobile-manu_contacts {
    margin-bottom: 48px;
  }

  .mobile-manu_tel-link {
    display: block;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: var(--title1-size);
    line-height: var(--title1-height);
    color: var(--hover-color);
  }

  .mobile-manu_mail-link {
    color: var(--text-color2);
    font-weight: var(--title2-weight);
    font-size: var(--title2-size);
    line-height: var(--title2-height);
  }

  .mobile-manu_icon-list {
    display: flex;
    gap: 56px;
  }

  .mobile-manu_icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--hover-color);
    fill: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .mobile-manu {
    display: none;
  }

  .mobile-menu_open-button {
    display: none;
  }
}
